.Frontend {
    background-color: #fffc31;
    color: #000000;
}

.Backend {
    background-color: #684700;
    color: #ffffff;
}

.UX-UI_Design {
    background-color: #0038ff;
    color: #ffffff;
}

.Mobile {
    background-color: #1FD7C1;
    color: #000000;
}

.Web_Security {
    background-color: #c725a4;
    color: #ffffff;
}

.Web_Performance {
    background-color: #df0000;
    color: #ffffff;
}