<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task</title>
    <link rel="stylesheet" href="./fonts.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header>
        <p class="headerTitle">Kanban Project Management Tool</p>
        <div>
            <div class="headerInfoContain">
                <img src="../images/help.svg">
                <p>SM</p>
            </div>
        </div>
    </header>
    <nav class="column">
        <div class="joinContain">
            <a href="summary.html">
                <img src="../images/join_logo.svg">
            </a>
        </div>
        <div class="navLinkContain column">
            <a href="./summary.html"><img src="../images/summary.svg"> Summary</a>
            <a class="currentTemplate"><img src="../images/add_task.svg"> Add Task</a>
            <a href="./board.html"><img src="../images/board.svg"> Board</a>
            <a href="./contacts.html"><img src="../images/contacts.svg"> Contacts</a>
        </div>
        <div class="privacyContain column">
            <a class="privacyHoverEffect" href="../privacy_policy.html">Privacy Policy</a>
            <a class="privacyHoverEffect" href="../legal_notice.html">Legal notice</a>
        </div>
    </nav>
</body>

</html>